<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>filedata</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
{% load static %}


<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    File Data
  </a>
    <span ><a href="accounts/logout">Logout</a></span>
</nav>

    <table class = "table table-stripped table-bordered table.sm">
    <thead class = "thead-dark">
    <tr>
        <th>UserName</th>
        <th>Email</th>
        <th>File</th>

    </tr>
    </thead>
    {% for i in data %}
    <tr>
        <td>{{i.UserName}}</td>
        <td>{{i.Email}}</td>
        <td><a href= "{{i.my_file.url}}" />view</td>

    </tr>
    {% endfor %}
    </table>

<div>
<center>
    <a href = "{% url 'index' %}" class = "btn btn-info">Back</a>
    <a href = "jdata" class = "btn btn-info">View</a>

</center>

</div>
</body>

</html>